body, html{
  height:100%;
}
body{
  margin: 0px;
  /* background-color:#444; */
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.blinkyDancer{
  height:40px;
  width:40px;
  position:absolute;
}

.ballRoomDancer{
  height:40px;
  width:40px;
  position:absolute;
  -webkit-animation-name: spin;
  -webkit-animation-duration: .1s;
  animation-name: spin;
  animation-duration: .1s;
  animation-iteration-count: infinite;
}

.breakDancer{
  height:40px;
  width:40px;
  position:absolute;
  -webkit-animation-name: slide;
  -webkit-animation-duration: 8s;
  animation-name: slide;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slide {

  25% {
      left: 10vw;
  }

  50% {
      left: -10vw;
  }

  75% {
      top: 10vh;
  }

}

@keyframes slide {

  25% {
    left: 10vw;
 }

 50% {
    left: -10vw;
 }

 75% {
   top: 10vh;
 }

}

@-webkit-keyframes spin {

  25% {
      transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg)
  }

  75% {
    transform: rotate(270deg)
  }

  100% {
    transform: rotate(360deg)
  }

}

@keyframes spin {


  25% {
    transform: rotate(90deg);
}

50% {
  transform: rotate(180deg)
}

75% {
  transform: rotate(270deg)
}

100% {
  transform: rotate(360deg)
}

}